@import "settings";
@import "foundation";
@import "fonts";


.off-canvas ~ .grid-frame {
  background-image: linear-gradient(150deg,#3A539B 35%,#F64747);
}

.title-bar a {
  color: #fff;

  & > .iconic * {
    fill: #fff;
    stroke: #fff;
  }
}

.has-off-canvas {
  overflow-x: hidden;
}

.block-list header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 48px;
}

p.lead {
  margin-bottom: 0;
}

.forecast {
  margin-top: 3rem;
  padding-top: 3.25rem;
  border-top: 1px solid rgba(255,255,255,0.5);

  p {
    margin-bottom: 0;
  }
}

.grid-content .grid-block {
  margin-right: 0;
  margin-left: 0;
}
