@import "settings";
@import "foundation";
@import "fonts";
@import "typography";



html, body,
.has-off-canvas {
  overflow-x: hidden;
  position: relative;
  touch-action: none;
}

.off-canvas ~ .grid-frame {
  background-image: -webkit-linear-gradient(300deg,#3A539B 35%,#F64747);
  background-image: linear-gradient(150deg,#3A539B 35%,#F64747);
}

.title-bar a {
  color: #fff;
  font-size: 1.5rem;

  svg.iconic.iconic-md:not(.iconic-size-sm):not(.iconic-size-lg),
  svg.iconic.iconic-size-md {
    width: 24px;
    height: 24px;
  }

  & > .iconic * {
    fill: #fff;
    stroke: #fff;
  }
}

.block-list header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 48px;
}

p.lead {
  margin-bottom: 0;
}

.forecast {
  margin-top: 3rem;
  padding-top: 3.25rem;
  border-top: 1px solid rgba(0,0,0,0.25);
  box-shadow: inset 0 1px rgba(255,255,255,0.12);

  p {
    margin-bottom: 0;
  }
}

.grid-content .grid-block {
  margin-right: 0;
  margin-left: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;

  .loader__rotation {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 4px solid #eee;
    border-top-color: #3A539B;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    -webkit-animation: spin 1s -.6s infinite cubic-bezier(0.5, 0.1, 0.4, 0.9);
            animation: spin 1s -.6s infinite cubic-bezier(0.5, 0.1, 0.4, 0.9);
  }
}

.close-button {
  top: 1.35rem;
}

.block-list li > a {
  text-transform: uppercase;
}


.block-list li.current-location a {
  padding-left: 2.5rem;
  background-image: url(../img/location.svg);
  background-repeat: no-repeat;
  background-position: 1rem;
  background-size: 1.25rem;
}



.toggleButton {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

.toggleButton .menuIcon {
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.toggleButton .menuIcon:before,
.toggleButton .menuIcon:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
}

.toggleButton .menuIcon:before {
  top: -8px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: width .3s, top .3s, -webkit-transform .3s;
  transition: width .3s, top .3s, -webkit-transform .3s;
  transition: transform .3s, width .3s, top .3s;
  transition: transform .3s, width .3s, top .3s, -webkit-transform .3s;
}

.toggleButton .menuIcon:after {
  bottom: -8px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: width 0.3s, bottom 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, bottom 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
  transition: transform 0.3s, width 0.3s, bottom 0.3s, -webkit-transform 0.3s;
}



.add-button {
  color: #fff;
  background-color: #AD1457;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: fixed;
  bottom: 24px;
  right: 24px;
  line-height: 56px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 3px rgba(0,0,0,0.36);

  &:after {
    content: "+";
  }
}





.off-canvas.is-active + .grid-frame .toggleButton .menuIcon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.off-canvas.is-active + .grid-frame .toggleButton .menuIcon:before,
.off-canvas.is-active + .grid-frame .toggleButton .menuIcon:after {
  width: 50%;
}

.off-canvas.is-active + .grid-frame .toggleButton .menuIcon:before {
  top: 0;
  -webkit-transform: translateX(14px) translateY(.75px) rotate(45deg);
          transform: translateX(14px) translateY(.75px) rotate(45deg);
}

.off-canvas.is-active + .grid-frame .toggleButton .menuIcon:after {
  bottom: 0;
  -webkit-transform: translateX(14px) translateY(-1px) rotate(-45deg);
          transform: translateX(14px) translateY(-1px) rotate(-45deg);
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}


@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
